{% set page_name = "authentication" %}
{% extends "template.html" %}
{% from "authentication/register.html" import render_register_form, render_register_form_js %}
{% from "authentication/login.html" import render_login_form %}
{% block title %}{{ _("Authentication") }}{% endblock %}
{% block main %}
<h1>{{ _("Authentication") }}</h1>
{% if login_required %}
    <h5 class="red-text">{{ _("You need to login to proceed") }}</h5>
{% endif %}
<div class="row">
    <div class="col l6 m12 s12">
        <h3>{{ _("Login") }}</h3>
        {{ render_login_form(false) }}
    </div>
    <div class="col l6 m12 s12">
        <h3>{{ _("Register") }}</h3>
        {{ render_register_form(schools, false) }}
    </div>
</div>
{% endblock %}
{% block js %}
    {{ render_register_form_js() }}
{% endblock %}