{% macro render_login_form(include_register) %}
    <form action="{{ url_for('authentication.login') }}" method="post">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="login_username" name="username" {% if username is defined %} value="{{username}}" {% endif %}>
            <label for="login_username">{{ _("Your username") }}</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" id="login_password" name="password">
            <label for="login_password">{{ _("Your password") }}</label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="waves-effect waves-light btn btn-fullwidth">{{ _("Login") }}</button>
        {% if include_register %}
            <a href="{{ url_for('authentication.register') }}" class="red lighten-1 waves-effect waves-light btn btn-fullwidth">{{ _("Don't have an account? Register") }}</a>
        {% endif %}
    </form>
{% endmacro %}

{% set page_name = "authentication" %}
{% extends "template.html" %}
{% block title %}{{ _("Login") }}{% endblock %}
{% block css %}
<style>
    .login-form {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
{% block main %}
<h1>{{ _("Login") }}</h1>
{% if login_failed is defined %}
    <h5 class="red-text">{{ _("Incorrect login information, please try again") }}</h5>
{% endif %}
<div class="login-form">
    {{ render_login_form(True) }}
</div>
{% endblock %}