{% macro render_register_form(schools, include_login) %}
    <form onsubmit="return register_form.validate_form(true);" action="{{ url_for('authentication.register') }}" method="post" id="register-form">
        <div class="input-field">
            <input type="text" id="reg_username" name="username">
            <label for="reg_username">{{ _("Username") }}</label>
        </div>
        <div class="input-field">
            <input type="password" id="reg_password" name="password">
            <label for="reg_password">{{ _("Password") }}</label>
        </div>
        <div class="input-field">
            <input type="password" id="reg_password_repeat" name="password_repeat">
            <label for="reg_password_repeat">{{ _("Password (repeat)") }}</label>
        </div>
        <div class="input-field">
            <input type="text" id="reg_name" name="name">
            <label for="reg_name">{{ _("Your name") }}</label>
        </div>
        <div class="input-field">
            <select id="reg_school" name="school" {{ ('class="browser-default"'|safe) if g.workaround['ios_select'] }}>
                <option value="0" disabled selected>{{ _("Choose your school") }}</option>
                {% for school in schools %}
                    <option value="{{ school[0] }}">{{ school[1] }}</option>
                {% endfor %}
            </select>
            {% if not g.workaround['ios_select'] %}
                <label for="reg_school">{{ _("Your school") }}</label>
            {% endif %}
        </div>
        <div class="input-field">
            <input type="text" id="reg_klass" name="klass">
            <label for="reg_klass">{{ _("Your class") }}</label>
        </div>
        <div id="g-recaptcha"></div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <span class="tooltipped-button-overlay tooltipped"
              data-tooltip="{{ _("Please wait for all resources to be loaded") }}"
              data-position="bottom"
              data-delay="10">
            <button type="submit"
                class="waves-effect waves-light btn btn-fullwidth"
                disabled
                id="register-submit-button">{{ _("Register") }}</button>
        </span>
        {% if include_login %}
            <a href="{{ url_for('authentication.login') }}"
               class="red lighten-1 waves-effect waves-light btn btn-fullwidth">{{ _("Log in to your existing account") }}</a>
        {% endif %}
    </form>
{% endmacro %}

{% macro render_register_form_js() %}
    <script src="/static/js/form_validation.js"></script>
    <script>
        {% if not g.workaround['ios_select'] %}
            $('#reg_school').material_select();
        {% endif %}
        function SamePassword(value){
            pwd = $("#reg_password").val();
            pwd_repeat = $("#reg_password_repeat").val();

            return (pwd === pwd_repeat) && (FormValidation.StrongPassword(pwd));
        }

        register_form = new Form();
        register_form.add_field("username", $("#reg_username"), [FormValidation.NotEmpty], "{{ _("Please fill in your username") }}");
        register_form.add_field("password", $("#reg_password"), [FormValidation.StrongPassword], "{{ _("Your password is too weak ") }}");
        register_form.add_field("password_repeat", $("#reg_password_repeat"), [SamePassword], "{{ _("Password either is not the same or too weak") }}");
        register_form.add_field("name", $("#reg_name"), [FormValidation.NotEmpty], "{{ _("Please fill in your name") }}");
        register_form.add_field("school", $("#reg_school"), [FormValidation.NotEmpty], "{{ _("Please choose your school") }}");
        register_form.add_field("klass", $("#reg_klass"), [FormValidation.NotEmpty], "{{ _("Please fill in your class") }}");

        // This is run after everything has finished loading to allow form submitting
        function enable_form(){
            grecaptcha.render("g-recaptcha", {
                sitekey: "{{ config['RECAPTCHA_PUBLIC_KEY'] }}"
            });
            $("#register-submit-button").attr("disabled", false);
            $(".tooltipped-button-overlay").tooltip("remove");
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=enable_form&render=explicit&hl={{ config["LOCALE"] }}" async defer></script>
{% endmacro %}

{% set page_name = "authentication" %}
{% extends "template.html" %}
{% block title %}{{ _("Register") }}{% endblock %}
{% block css %}
<style>
    .register-form {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
{% block main %}
<h1>{{ _("Register") }}</h1>
{% if account_exists is defined %}
    <h5 class="red-text">{{ _("An account with the same username exists, please choose another username") }}</h5>
{% endif %}
{% if registration_failed is defined %}
    <h5 class="red-text">{{ _("You haven't filled in some fields, maybe you haven't checked the captcha?") }}</h5>
{% endif %}
<div class="register-form">
    {{ render_register_form(schools, true) }}
</div>
{% endblock %}
{% block js %}
    {{ render_register_form_js() }}
{% endblock %}