{% set headers = [
    ("index", _("Index"), "/admin/"),
    ("announcement", _("Announcements"), "/admin/announcement"),
    ("school", _("Schools"), "/admin/school"),
    ("contest", _("Contests"), "/admin/contest"),
    ("questionset", _("Question sets"), "/admin/questionset"),
    ("reports", _("Reports"), "/admin/reports"),
    ("logout", _("Logout"), "/admin/logout"),
] %}

{% macro render_navbar_content() %}
    {% for header in headers %}
        <li class="{% if page_name == header[0] %} active {% endif %}"><a href="{{ header[2] }}">{{ header[1] }}</a></li>
    {% endfor %}
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>{% block header %} {% endblock %}</title>
        <link href="/static/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
        <link href="/static/node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
        <link href="/static/node_modules/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
        <style>
            .container {
                width: 90%;
            }
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        {% block css %} {% endblock %}
    </head>
    <body>
        <header class="navbar-fixed">
            <nav class="light-blue lighten-1" role="navigation">
                <div class="navbar-wrapper container">
                    <a href="/admin/" class="brand-logo">Admin interface</a>
                    <a href="#" data-activates="mobile-nav" class="button-collapse">
                        <i class="fa fa-bars">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        {{ render_navbar_content() }}
                    </ul>
                    <ul class="side-nav" id="mobile-nav">
                        {{ render_navbar_content() }}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block main %} {% endblock %}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                > mfw have to design this shit
                </div>
            </div>
        </footer>

        <script src="/static/node_modules/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/node_modules/handlebars/dist/handlebars.min.js"></script>
        <!-- Why Internet Explorer even exists? -->
        <script src="/static/node_modules/es6-promise/dist/es6-promise.auto.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/node_modules/sweetalert2/dist/sweetalert2.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="/static/node_modules/@sentry/browser/build/bundle.min.js"></script>
        <script type="text/javascript">
            // CSRF stuff
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            // initialize Sentry
            Sentry.init({
                "dsn": '{{ config["SENTRY_FRONTEND_DSN"] }}'
            });
        </script>

        <script src="/static/js/data_list.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/form_validation.js"></script>
        {% block js %} {% endblock %}
    </body>
</html>
