{% set page_name = "school" %}
{% extends "admin_template.html" %}
{% block title %} {{ _("Schools") }} {% endblock %}
{% block css %}
    <style>
        #school-add-form {
            overflow: auto;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>schools</h1>
    <div id="school-container">

    </div>
    <h1>add</h1>
    <div class="card-panel blue-grey lighten-5" id="school-add-div">
        <form onsubmit="add_school(); return false;" id="school-add-form">
            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>
            <button type="submit" class="right waves-effect waves-light btn" id="submit-button">Them</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/form_validation.js"></script>
    <script src="/static/js/admin/school.js"></script>
{% endblock %}