{% set page_name = "reports" %}
{% extends "admin_template.html" %}
{% block title %} {{ _("Reports") }} {% endblock %}
{% block css %}
    <style>
        #generate-report-form-div {
            overflow: auto;
        }
    </style>
{% endblock %}1
{% block main %}
    <h1>Generate reports</h1>
    {% if fail %}
        {# Credits: https://github.com/Dogfalo/materialize/issues/2340#issuecomment-304709551 #}
        <div class="card-panel red lighten-4 red-text text-darken-4">
            <b>{{ "Error:" }}</b>
            Form failure, please check.
        </div>
    {% endif %}
    <div class="card-panel blue-grey lighten-5"  id="generate-report-form-div">
        <form action="{{ url_for('admin.reports') }}" method="post">
            <div class="row">
                <div class="col l6 m6 s12">
                    <div class="input-field">
                        <input type="text" class="datepicker" name="begin_date" id="begin-date">
                        <label for="begin-date">Begin date (DD/MM/YYYY)</label>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="input-field">
                        <input type="text" class="datepicker" name="end_date" id="end-date">
                        <label for="end-date">End date (DD/MM/YYYY)</label>
                    </div>
                </div>
            </div>

            <h5>Include the following contests:</h5>
            <div class="row">
                {% for contest in contests %}
                    <div class="col s6 m6 l6">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" name="contests" checked="checked" value="{{contest[0]}}"/>
                                <span>{{ contest[1] }}</span>
                            </label>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <h5>Include the following schools:</h5>
            <div class="row">
                {% for school in schools %}
                    <div class="col s6 m6 l6">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" name="schools" checked="checked" value="{{school[0]}}"/>
                                <span>{{ school[1] }}</span>
                            </label>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="include_unfinished" />
                    <span>Include unfinished exams</span>
                </label>
            </p>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <button type="submit" class="right waves-effect waves-light btn">Export reports</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        M.Datepicker.init($('.datepicker'), {
            format: "dd/mm/yyyy",
            firstDay: 1,
            showDaysInNextAndPreviousMonths: true
        });
    </script>
{% endblock %}
