<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>6 bai hoc li luan chinh tri???? login</title>
        <link href="/static/node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/node_modules/materialize-css/dist/css/materialize.min.css">
        <style>
            #login-panel {
                max-width: 600px;
                margin: 0 auto;
                margin-top: 10%;
            }
            #login-form {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <main class="container">
            <div class="card-panel" id="login-panel">
                <h3>Dang nhap</h3>
                <div class="divider"></div>
                <form action="{{ url_for('admin.login_page') }}" method="post" id="login-form">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="username" name="username">
                        <label for="username">Ten dang nhap</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <input type="password" id="password" name="password">
                        <label for="password">Mat khau</label>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="row">
                        <div class="col s4 offset-s8">
                            <button type="submit" class="waves-effect waves-light btn">Dang nhap</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script src="/static/node_modules/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
