{% set page_name = "announcement" %}
{% extends "admin_template.html" %}
{% block title %} {{ _("Announcements") }} {% endblock %}
{% block css %}
    <style>
        #announcement-add-div {
            overflow: auto;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col s7">
            <h1>announcements</h1>
            <div id="announcement-container">

            </div>
        </div>
        <div class="col s5">
            <h1>add</h1>
            <div class="card-panel blue-grey lighten-5" id="announcement-add-div">
                <form onsubmit="add_announcement(); return false;" id="announcement-add-form">
                    <div class="input-field">
                        <input type="text" id="title" class="validate">
                        <label for="title">Title</label>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" type="content" id="content"></textarea>
                        <label for="Content">Content</label>
                    </div>
                    <button type="submit" class="right waves-effect waves-light btn" id="submit-button">Them</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/admin/announcement.js"></script>
{% endblock %}