{% set page_name = "questionset" %}
{% extends "admin_template.html" %}
{% block title %} {{ _("Question Set") }} {% endblock %}
{% block css %}
    <style>
        #questionset-add-div {
            overflow: auto;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col s7">
            <h1>Question sets</h1>
            <div id="questionset-container">

            </div>
        </div>
        <div class="col s5">
            <h1>add</h1>
            <div class="card-panel blue-grey lighten-5" id="questionset-add-div">
                <form onsubmit="add_questionset(); return false;" id="questionset-add-form">
                    <div class="input-field">
                        <input type="text" id="name">
                        <label for="name">Name</label>
                    </div>
                    <button type="submit" class="right waves-effect waves-light btn" id="submit-button">Them</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/admin/questionset.js"></script>
{% endblock %}