{% set headers = [
    ("index", _("Index"), "admin.index"),
    ("announcement", _("Announcements"), "admin.announcement_main"),
    ("school", _("Schools"), "admin.school_main"),
    ("contest", _("Contests"), "admin.contest_main"),
    ("questionset", _("Question sets"), "admin.questionset_main"),
    ("reports", _("Reports"), "admin.reports"),
    ("logout", _("Logout"), "admin.logout"),
] %}

{% macro render_navbar_content() %}
    {% for header in headers %}
        <li class="{% if page_name == header[0] %} active {% endif %}"><a href="{{ url_for(header[2]) }}">{{ header[1] }}</a></li>
    {% endfor %}
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>{% block header %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'node_modules/materialize-css/dist/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'node_modules/material-design-icons/iconfont/material-icons.css') }}">
        <style>
            .container {
                width: 90%;
            }
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        {% block css %} {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="light-blue lighten-1" role="navigation">
                    <div class="navbar-wrapper container">
                        <a href="{{ url_for('admin.index') }}" class="brand-logo">Admin interface</a>
                        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            {{ render_navbar_content() }}
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-nav">
                {{ render_navbar_content() }}
            </ul>
        </header>
        <main class="container">
            {% block main %} {% endblock %}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                > mfw have to design this shit
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static', filename = 'node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'node_modules/handlebars/dist/handlebars.min.js') }}"></script>
        <!-- Why Internet Explorer even exists? -->
        <script src="{{ url_for('static', filename = 'node_modules/es6-promise/dist/es6-promise.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'node_modules/@sentry/browser/build/bundle.min.js') }}"></script>
        <script type="text/javascript">
            // CSRF stuff
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            // initialize Sentry
            Sentry.init({
                "dsn": '{{ config["SENTRY_FRONTEND_DSN"] }}'
            });

            M.Sidenav.init($('.sidenav'), {});
        </script>

        <script src="{{ url_for('static', filename = 'js/data_list.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/form_validation.js') }}"></script>
        {% block js %} {% endblock %}
    </body>
</html>
