{% set page_name = "index" %}
{% extends "admin_template.html" %}

{% block main %}
    <div class="card-panel blue-grey lighten-5" id="login-as-div">
        <form onsubmit="login_as(); return false;">
            <div class="input-field">
                <label for="username">{{ _("Username") }}</label>
                <input type="text" name="username" id="username">
            </div>
            <button type="submit" class="right waves-effect waves-light btn" id="login-as-submit-button">{{ _("Login as") }}</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        function login_as(){
            $("#login-as-submit-button").prop("disabled", false);
            username = $("#username").val();
            $.post({{ url_for("admin.utils_login_as") }}, {
                "username": username
            }, function(data){
                if (!('result' in data)){
                    Materilize.toast("An error occurred");
                } else if (!data.result){
                    Materilize.toast("Username not found");
                } else {
                    window.location = {{ url_for("index") }};
                }
                $("#login-as-submit-button").prop("disabled", false);
            })
        }
    </script>
{% endblock %}