{% set page_name = "participate" %}
{% extends "template.html" %}
{% block title %} {{ _("Exam") }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <style>
        .announcement-time {
            text-align: right;
            display: block;
        }

        .question-choices label {
            color: #000000 !important;
            font-size: 1.2rem !important;
        }

        .sticky-footer {
            width: 100%;
            height: 64px;
            position: fixed;
            bottom: 0px;
        }

        .sticky-footer .container {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .sticky-footer .footer-text {
            font-size: 30px;
            color: #ffffff !important;
        }

        body {
            margin-bottom: 64px !important;
        }

        #sync-inprogress, #sync-done, #sync-fail{
            display: none;
        }

        .question-statement {
            font-size: 25px;
            font-weight: bold;
        }

        #close-exam-button {
            float: right;
        }

        @media only screen and (max-width : 600px){
            #close-exam-button {
                display: block;
                width: 100%;
                float: none !important;
            }

            .sticky-footer {
                height: 100px !important;
            }

            body {
                margin-bottom: 100px !important;
            }

            #footer-container {
                text-align: center;
            }
        }
    </style>
{% endblock %}
{% block main %}
    <h1>{{ _("Exam") }}</h1>
    <div id="exam_container">
    </div>
{% endblock %}
{% block optional_sticky_footer %}
    <div class="sticky-footer red lighten-1">
        <div class="container" id="footer-container">
            <span class="footer-text">
                <i class="material-icons tooltipped" data-delay="50" data-position="top" data-tooltip="{{ _('Remaining time') }}">
                    timer
                </i>
                <span id="countdown-minute"></span>:<span id="countdown-second"></span>

                <i class="material-icons tooltipped" data-delay="50" data-position="top" data-tooltip="{{ _('Answered questions') }}">
                    check
                </i>
                <span id="questions-answered"></span>
                /
                <span id="total-questions"></span>

                <i class="material-icons tooltipped" data-delay="50" data-position="top" data-tooltip="{{ _('Saving your progress') }}" id="sync-inprogress">
                    sync
                </i>
                <i class="material-icons tooltipped" data-delay="50" data-position="top" data-tooltip="{{ _('Your progress was saved') }}" id="sync-done">
                    cloud_done
                </i>
                <i class="material-icons tooltipped" data-delay="50" data-html="true" data-position="top" data-tooltip="{{ _("Error while saving your progress<br/>Trying...") }}" id="sync-fail">
                    error
                </i>
            </span>
            <button class="waves-effect waves-light btn" id="close-exam-button">{{ _("End exam") }}</button>
        </div>
    </div>
    <div id="modal-submitting" class="modal">
        <div class="modal-content center-align">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h4>{{ _("Closing exam") }}</h4>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('.modal').modal();
        questions = {{questions|tojson|safe}};
        exam = {{exam|tojson|safe}};
    </script>

    <script src="/static/node_modules/handlebars/dist/handlebars.min.js"></script>
    <script src="/static/node_modules/moment/min/moment.min.js"></script>
    <!-- Why Internet Explorer even exists? -->
    <script src="/static/node_modules/es6-promise/dist/es6-promise.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/node_modules/sweetalert2/dist/sweetalert2.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/countdown.js"></script>
    <script src="/static/js/exam.js"></script>
{% endblock %}