{% macro second_to_formatted(sec) %}
    {{ sec // 60}} {{ _("minutes") }} {{ sec % 60 }} {{ _("seconds") }}
{% endmacro %}
{% set page_name = "participate" %}
{% extends "template.html" %}
{% block title %}{{ _("Participate") }}{%endblock%}
{% block css %}
    <style>
        .enable-pointer-events {
            pointer-events: initial !important;
        }

        .caret::before {
            display: block;
            font-size: 10px;
            content: "▼";
            float: right !important;
        }
    </style>
{% endblock %}
{% block main %}
<h3>{{ _("Participate") }}</h3>
<div id="participate-container">
    <ul class="collapsible" data-collapsible="expandable">
        {% for contest in contests %}
            <li>
                <div class="collapsible-header active">{{ _("Contest: <strong>%(contest_title)s</strong>", contest_title = contest.title) }}
                    <span class="caret"></span>
                </div>
                <div class="collapsible-body">
                    <p>
                        {{ _("This contest starts from <strong>%(begin_date)s</strong> to <strong>%(end_date)s</strong>"
                          , begin_date = contest.begin_date.strftime("%d/%m/%Y")
                          , end_date = contest.end_date.strftime("%d/%m/%Y")) }}
                    </p>
                    <p>{{ _("Duration: <strong>%(duration)d minutes</strong>", duration = contest.duration) }}</p>
                    <p>{{ _("Number of questions: <strong>%(questions)d questions</strong>", questions = contest.question_count) }}</p>
                    <p>{{ _("Your last performance: ") }}</p>
                    <table class="bordered striped responsive-table">
                        <thead>
                            <tr>
                                <td data-field="id"><strong>{{ _("Attempt") }}</strong></td>
                                <td data-field="begin-time"><strong>{{ _("Start time") }}</strong></td>
                                <td data-field="elapsed-time"><strong>{{ _("End time") }}</strong></td>
                                <td data-field="elapsed-time"><strong>{{ _("Status") }}</strong></td>
                                <td data-field="elapsed-time"><strong>{{ _("Elapsed time") }}</strong></td>
                                <td data-field="score"><strong>{{ _("Score") }}</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if (exams[contest.id]|length) == 0 %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% for exam in exams[contest.id] %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ exam.begin_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                {% if exam.finished %}
                                    <td>{{ exam.finish_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                    <td>{{ _("Finished") }}</td>
                                    <td>{{ second_to_formatted(exam.elapsed_time) }}</td>
                                    <td>{{ exam.score }} / {{ contest.question_count }}</td>
                                {% else %}
                                    <td></td>
                                    <td colspan="3">
                                        {{ _("Ongoing") }}
                                        <a class="waves-effect waves-light btn" href="/exam/{{exam.secret_key}}">{{ _("Continue") }}</a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if in_contest_date(contest) %}
                        <a class="waves-effect waves-light btn-large btn-fullwidth" href="{{ url_for('exam.create', contest_id=contest.id) }}">{{ _("Participate in this contest") }}</a>
                    {% else %}
                        <button class="waves-effect waves-light btn-large btn-fullwidth tooltipped disabled enable-pointer-events"
                                data-position="bottom"
                                data-tooltip="{{ _('This contest has either ended or hasn\'t started') }}">
                            {{ _("Participate in this contest") }}
                        </button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}