{% macro second_to_formatted(sec) %}
    {{ sec // 60}} {{ _("minutes") }} {{ sec % 60 }} {{ _("seconds") }}
{% endmacro %}
{% set page_name = "participate" %}
{% extends "template.html" %}
{% block title %}{{ _("Participate") }}{%endblock%}
{% block css %}
    <style>
        .enable-pointer-events {
            pointer-events: initial !important;
        }
    </style>
{% endblock %}
{% block main %}
<h3>{{ _("Participate") }}</h3>
<div id="participate-container">
    <ul class="collapsible expandable">
        {% for contest in contests %}
            <li class="active">
                <div class="collapsible-header">
                    {{ _("Contest: <b>%(contest_title)s</b>", contest_title = contest.title) }}
                </div>
                <div class="collapsible-body">
                    <p>
                        {{ _("This contest starts from <b>%(begin_date)s</b> to <b>%(end_date)s</b>"
                          , begin_date = contest.begin_date.strftime("%d/%m/%Y")
                          , end_date = contest.end_date.strftime("%d/%m/%Y")) }}
                    </p>
                    <p>{{ _("Duration: <b>%(duration)d minutes</b>", duration = contest.duration) }}</p>
                    <p>{{ _("Number of questions: <b>%(questions)d questions</b>", questions = contest.question_count) }}</p>
                    <p>{{ _("Your last performance: ") }}</p>
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>{{ _("Attempt") }}</th>
                                <th>{{ _("Start time") }}</th>
                                <th>{{ _("End time") }}</th>
                                <th>{{ _("Status") }}</th>
                                <th>{{ _("Elapsed time") }}</th>
                                <th>{{ _("Score") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if (exams[contest.id]|length) == 0 %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% for exam in exams[contest.id] %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ exam.begin_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                {% if exam.finished %}
                                    <td>{{ exam.finish_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                    <td>{{ _("Finished") }}</td>
                                    <td>{{ second_to_formatted(exam.elapsed_time) }}</td>
                                    <td>{{ exam.score }} / {{ contest.question_count }}</td>
                                {% else %}
                                    <td></td>
                                    <td colspan="3">
                                        {{ _("Ongoing") }}
                                        <a class="waves-effect waves-light btn" href="{{ url_for('exam.page', secret_key = exam.secret_key) }}">{{ _("Continue") }}</a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if in_contest_date(contest) %}
                        <a class="waves-effect waves-light btn-large btn-fullwidth" href="{{ url_for('exam.create', contest_id=contest.id) }}">{{ _("Participate in this contest") }}</a>
                    {% else %}
                        <button class="waves-effect waves-light btn-large btn-fullwidth tooltipped disabled enable-pointer-events"
                                data-position="bottom"
                                data-tooltip="{{ _('This contest has either ended or hasn\'t started') }}">
                            {{ _("Participate in this contest") }}
                        </button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block js %}
<script>
    M.Collapsible.init($('.collapsible'), {
        accordion: false
    });

    M.Tooltip.init($('.tooltipped'), {});
</script>
{% endblock %}