{% set page_name = "rules" %}
{% extends "template.html" %}
{% block title %}{{ _("Rules") }}{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock %}
{% block main %}
<h3>Thể lệ cuộc thi</h3>
<p class="large">Thực hiện chương trình công tác Đoàn và phong trào thanh thiếu nhi quận Sơn Trà năm 2017,
    Ban Thường vụ Quận Đoàn triển khai việc học và kiểm tra kiến thức 6 bài học lý luận chính
    trị dành cho đoàn viên trên mạng Internet năm 2017 với các nội dung, cụ thể như sau:</p>

<h4>1. Thời gian, hình thức triển khai</h4>
    <h5>1.1. Thời gian</h5>
        <p>Cuộc thi sẽ diễn ra bắt đầu từ 00h00 ngày 15/3/2017 đến 23h59 này 15/4/2017.</p>
    <h5>1.2. Hình thức triển khai</h5>
        <p>Việc triển khai các nội dung cuộc thi sẽ được tiến hành trên trang web <a href="https://thi.quandoansontra.com">https://thi.quandoansontra.com</a></p>

<h4>2. Nội dung và hình thức thi</h4>
    <h5>2.1 Nội dung thi:</h5>
        <p>Các nội dung thi sẽ được biên tập thành các bộ đề thi trắc nghiệm với các nội dung
            kiến thức cơ bản trong 6 bài học lý luận chính trị dành cho cán bộ đoàn, đoàn viên.
            (Quận Đoàn đã triển khai nội dung học tập đến các Đoàn trường, Trung tâm).
            Hoặc đoàn viên có thể tìm hiểu ở sách “Hỏi – Đáp 6 bài học lý luận chính trị dành cho đoàn viên, thanh niên”
            do Nhà xuất bản Thanh niên phát hành.</p>
    <h5>2.2. Hình thức thi:</h5>
        <ul class="browser-default">
            <li>Để thực hiện nội dung thi, thí sinh truy cập vào địa chỉ <a href="https://thi.quandoansontra.com">https://thi.quandoansontra.com</a>
                và tiến hành đăng ký tài khoản để tham gia dự thi (tài khoản này sẽ có giá trị dùng để đăng nhập
                và tham gia dự thi các nội dung thi trên trang web và là cơ sở ghi nhận sự tham gia của đoàn viên,
                thanh niên các đơn vị). <strong>Khi đăng kí tài khoản, thí sinh cần cung cấp tên thật của mình, trường và lớp
                    mình đang học trong năm học hiện tại</strong>. Sau khi đăng kí, hệ thống sẽ tự động đăng nhập vào hệ thống thi và
                thí sinh tham gia làm bài.</li>
            <li>Hệ thống không giới hạn số lần thi, thí sinh có thể thi nhiều lần tuỳ thích.</li>
            <li>Mỗi bài thi sẽ bao gồm bộ 30 câu hỏi trắc nghiệm với thời gian làm bài là 40 phút.
                30 câu hỏi này được chia đều cho từng bài học (5 câu cho bài học thứ nhất, 5 câu cho bài học thứ hai, …)
                và được lựa chọn ngẫu nhiên từ ngân hàng câu hỏi có sẵn.</li>
            <li>Ban Tổ chức sẽ tổng hợp kết quả dự thi và số lượng dự thi của các đơn vị theo từng tuần để lấy căn cứ xếp loại
                thi đua cuối năm dựa trên kết quả tham gia của các đơn vị.</li>
        </ul>
{% endblock %}