{% set page_name = "rules" %}
{% extends "template.html" %}
{% block title %}{{ _("Rules") }}{% endblock %}
{% block main %}
    <h1>Thể lệ cuộc thi</h1>

    <p>
        Thực hiện Chương trình công tác Đoàn và phong trào thanh thiếu nhi năm 2019;
    </p>
    <p>
        Nhằm đổi mới phương pháp, nâng cao chất lượng, hiệu quả việc truyền thụ và học tập
        6 bài lý luận chính trị trong cán bộ, đoàn viên thanh niên các cơ sở Đoàn trực thuộc
        trên địa bàn quận; Ban Thường vụ Quận Đoàn Sơn Trà tổ chức thi trực tuyến tìm hiểu
        "6 bài học lý luận chính trị" năm 2019, cụ thể như sau:
    </p>

    <h3>Mục đích, yêu cầu</h3>
    <ul class="browser-default">
        <li>
            Giúp cho đoàn viên, học sinh nắm được những vấn đề lý luận cơ bản nhất về chủ nghĩa
            Mác - Lênin, tư tưởng Hồ Chí Minh, đường lối cách mạng của Đảng cộng sản Việt Nam,
            về hệ thống chính trị nước ta, về tổ chức Đoàn TNCS Hồ Chí Minh và nhiệm vụ của
            thanh niên trong thời kỳ đẩy mạnh công nghiệp hóa, hiện đại hóa đất nước.
        </li>
        <li>
            Kết hợp chặt chẽ giữa tổ chức học tập nâng cao nhận thức với bồi dưỡng,
            nâng cao bản lĩnh chính trị trong đoàn viên, học sinh, nâng cao tinh thần
            xung kích tham gia phát triển kinh tế xã hội, xây dựng hệ thống chính trị
            và xây dựng Đoàn TNCS Hồ Chí Minh vững mạnh.
        </li>
        <li>
            Việc triển khai tham gia thi tại các đơn vị phải gắn liền với việc tuyên
            truyền, học tập, tìm hiểu 6 bài học lý luận chính trị để cuộc thi đạt chất
            lượng và hiệu quả cao.
        </li>
    </ul>

    <h3>Nội dung, hình thức, đối tượng tham gia</h3>
    <h4>Nội dung</h4>
    <p>
        Chương trình bồi dưỡng lý luận chính trị cơ bản cho cán bộ, đoàn viên,
        thanh niên gồm 6 bài (chuyên đề) do Trung ương Đoàn TNCS Hồ Chí Minh biên soạn, gồm:
    </p>
    <ul class="browser-default">
        <li>
            <b><i>Bài 1</i></b>: Chủ nghĩa Mác - Lênin, tư tưởng Hồ Chí Minh là nền tảng tư tưởng,
            cơ sở lý luận của cách mạng Việt Nam.
        </li>
        <li>
            <b><i>Bài 2</i></b>: Đảng cộng sản Việt Nam - người tổ chức, lãnh đạo và là nhân tố
            quyết định thắng lợi của cách mạng Việt Nam.
        </li>
        <li>
            <b><i>Bài 3</i></b>: Hệ thống chính trị và phương thức lãnh đạo của Đảng cộng sản Việt Nam
            đối với hệ thống chính trị ở nước ta hiện nay.
        </li>
        <li>
            <b><i>Bài 4</i></b>: Đoàn TNCS Hồ Chí Minh - trường học xã hội chủ nghĩa của thanh niên,
            người bảo vệ quyền và lợi ích hợp pháp của thanh niên Việt Nam.
        </li>
        <li>
            <b><i>Bài 5</i></b>: Đoàn viên phấn đấu để trở thành lực lượng xung kích cách mạng,
            góp phần xây dựng và bảo vệ Tổ quốc Việt Nam xã hội chủ nghĩa.
        </li>
        <li>
            <b><i>Bài 6</i></b>: Thanh niên Việt Nam trong thời kỳ đẩy mạnh công nghiệp hóa,
            hiện đại hóa đất nước và hội nhập quốc tế.
        </li>
    </ul>
    <p>
        Các nội dung thi sẽ được biên tập thành các bộ đề thi trắc nghiệm với các nội dung
        kiến thức cơ bản trong 6 bài học lý luận chính trị dành cho cán bộ đoàn,
        đoàn viên hoặc đoàn viên thanh niên có thể tìm hiểu ở sách
        "Hỏi - Đáp 6 bài học lý luận chính trị dành cho đoàn viên, thanh niên" do
        Nhà xuất bản Thanh niên phát hành.
    </p>
    <h4>Hình thức dự thi</h4>
    <p>
        Cán bộ, đoàn viên, thanh niên tham gia thi trực tuyến trên hệ thống website của
        Quận Đoàn tại địa chỉ
        <b><a href="http://thi.quandoansontra.org.vn">http://thi.quandoansontra.org.vn</a></b>.
    </p>
    <p>
        Thí sinh truy cập vào địa chỉ 
        <b><a href="http://thi.quandoansontra.org.vn">http://thi.quandoansontra.org.vn</a></b>
        và tiến hành đăng ký tài khoản để tham gia dự thi. Sau khi đăng ký, hệ thống sẽ tự động đăng nhập
        vào hệ thống thi và thí sinh tham gia làm bài.
    </p>
    <h5>Lưu ý:</h5>
    <ul class="browser-default">
        <li>
            Khi đăng ký tài khoản, thí sinh cần cung cấp tên thật, đơn vị thuộc cơ sở đoàn đang sinh hoạt
            <i>
                (tài khoản này có giá trị dùng để đăng nhập và tham gia dự thi trên trang web và là cơ sở ghi
                nhận sự tham gia của đoàn viên thanh niên các đơn vị).
            </i>
        </li>
        <li>
            Hệ thống không giới hạn số lần thi, với tài khoản đã đăng ký, thí sinh có thể đăng nhập thi
            nhiều lần để đạt được kết quả cao nhất.
        </li>
        <li>
            Triển khai thống nhất trong ĐVTN khi nhập tên đơn vị để dễ theo dõi số lượng tham gia
            <i>
                (ví dụ: đối với khối trường học là lớp 10/1 thì nhập 10.1 hay 10A1 thì nhập 10.A1 còn đối
                với chi đoàn trực thuộc Đoàn phường và Đoàn Khối công nhân - viên chức thì điền tên và đơn
                vị trực thuộc, bỏ trống phần chi đoàn).
            </i>
        </li>
        <li>
            Mỗi bài thi sẽ bao gồm bộ 30 câu hỏi trắc nghiệm với thời gian làm bài là 40 phút
            <i>
                (bộ đề thi 30 câu hỏi được lựa chọn ngẫu nhiên từ ngân hàng câu hỏi của 6 bài học Lý luận
                chính trị và được chia đều cho từng bài).
            </i>
        </li>
        <li>
            Ban Tổ chức sẽ tổng hợp kết quả dự thi và số lượng dự thi của các đơn vị theo từng tuần để
            lấy căn cứ xếp loại thi đua cuối năm dựa trên kết quả tham gia của các đơn vị.
        </li>
    </ul>
    <h4>Thành phần, đối tượng tham gia</h4>
    <p>
        Tất cả đoàn viên, thanh niên thuộc 21 cơ sở Đoàn trực thuộc Quận Đoàn Sơn Trà.
    </p>

    <h3>Tiến độ thực hiện</h3>
    <ul class="browser-default">
        <li>Thời gian triển khai thi: trong tháng 5-6 năm 2019.</li>
        <li>Cuộc thi sẽ bắt đầu từ 00h00 ngày 15/5/2019 đến 23h59 ngày 30/6/2019.</li>
    </ul>

    <h3>Tổ chức thực hiện</h3>
    <h4>Quận đoàn</h4>
    <ul class="browser-default">
        <li>Xây dựng kế hoạch và triển khai phân công công việc cho từng đơn vị chuẩn bị.</li>
        <li>
            Tổng hợp kết quả tham gia của các đơn vị và đưa vào bảng điểm thi đua năm 2019
            và bảng điểm khối trường học năm học 2019 - 2020.
        </li>
    </ul>
    <h4>Các cơ sở Đoàn trực thuộc</h4>
    <ul class="browser-default">
        <li>
            Triển khai đến 100% đoàn viên thanh niên tham gia dự thi.
        </li>
        <li>
            Báo cáo với lãnh đạo đơn vị, tổ chức tuyên truyền, học tập, cung cấp tài liệu cho
            đoàn viên thanh niên tìm hiểu về nội dung 6 bài học lý luận chính trị và phối hợp
            triển khai thi đạt chất lượng cao.
        </li>
    </ul>

    <p>
        Trên đây là Kế hoạch tổ chức thi trực tuyến tìm hiểu 6 bài học lý luận chính trị năm 2019
        dành cho đoàn viên thanh niên các cơ sở Đoàn, Ban Thường vụ Quận đoàn Sơn Trà đề nghị các
        đơn vị nghiêm túc triển khai thực hiện.
    </p>
{% endblock %}
