{% set page_name = "rules" %}
{% extends "template.html" %}
{% block title %}{{ _("Rules") }}{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock %}
{% block main %}
<h3>Thể lệ cuộc thi</h3>
<p class="large">Thực hiện Chương trình công tác Đoàn trường học năm học 2016-2017,
    Kế hoạch số 01 KH/ĐTN ngày 16/01/2017 về việc tổ chức thi trực tuyến tìm hiểu
    <strong><i>“6 bài học lý luận chính trị”</i></strong> năm học 2016-2017,
    Ban Thường vụ Quận Đoàn Sơn Trà thông báo cho các đơn tham gia cuộc thi một số nội dung cụ thể như sau:</p>

<h4>1. Đối tượng tham gia</h4>
    <p>Tất cả đoàn viên, thanh niên thuộc Đoàn các trường THPT và Trung tâm GDTX trực thuộc Quận Đoàn Sơn Trà.</p>
<h4>2. Thời gian</h4>
    <p>Cuộc thi sẽ diễn ra bắt đầu từ 00h00 ngày 15/3/2017 đến 23h59 ngày 15/4/2017.</p>


<h4>3. Nội dung và hình thức thi</h4>
    <h5>3.1. Nội dung thi</h5>
        <p>Các nội dung thi sẽ được biên tập thành các bộ đề thi trắc nghiệm với các nội dung kiến thức cơ bản
            trong 6 bài học lý luận chính trị dành cho cán bộ đoàn, đoàn viên
            (Quận Đoàn đã triển khai theo kế hoạch số 01 KH/ĐTN ngày 16/01/2017),
            hoặc đoàn viên thanh niên có thể tìm hiểu ở sách “Hỏi - Đáp 6 bài học lý luận chính trị dành cho đoàn viên, thanh niên”
            do Nhà xuất bản Thanh niên phát hành.</p>
    <h5>3.2. Hình thức thi</h5>
            <ul class="browser-default">
                <li>Việc triển khai tham gia cuộc thi sẽ được tiến hành trên trang web <a href="https://thi.quandoansontra.com/">https://thi.quandoansontra.com/</a></li>
                <li>Thí sinh truy cập vào địa chỉ <a href="https://thi.quandoansontra.com/">https://thi.quandoansontra.com/</a> và tiến hành đăng ký tài khoản để tham gia dự thi.
                    Sau khi đăng ký, hệ thống sẽ tự động đăng nhập vào hệ thống thi và thí sinh tham gia làm bài.</li>
                <li>Lưu ý:
                    <ul class="browser-default">
                        <li>Khi đăng ký tài khoản, thí sinh cần cung cấp tên thật, trường và lớp đang học
                            (tài khoản này có giá trị dùng để đăng nhập và tham gia dự thi trên trang web và là cơ sở
                            ghi nhận sự tham gia của đoàn viên thanh niên các đơn vị).</li>
                        <li>Hệ thống không giới hạn số lần thi, với tài khoản đã đăng ký, thí sinh có thể đăng nhập thi
                            nhiều lần để đạt được kết quả cao nhất.</li>
                    </ul>
                <li>Mỗi bài thi sẽ bao gồm bộ 30 câu hỏi trắc nghiệm với thời gian làm bài là 40 phút
                    (bộ đề thi 30 câu hỏi được lựa chọn ngẫu nhiên từ ngân hàng câu hỏi của 6 bài học
                    Lý luận chính trị và được chia đều cho từng bài).</li>
                <li>Ban Tổ chức sẽ tổng hợp kết quả dự thi và số lượng dự thi của các đơn vị theo từng tuần
                    để lấy căn cứ xếp loại thi đua cuối năm dựa trên kết quả tham gia của các đơn vị.</li>
            </ul>

<p>Đây là một trong những nội dung quan trọng làm cơ sở đánh giá thi đua trong năm học 2016 - 2017. Ban Thường vụ Quận Đoàn Sơn Trà đề nghị Ban Thường vụ Đoàn các trường THPT, Trung tâm GDTX trực thuộc nghiêm túc triển khai thực hiện đạt kết quả cao.</p>
{% endblock %}
