<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>{% block header %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/libraries/materialize/dist/css/materialize.min.css">
        {% block css %} {% endblock %}
    </head>
    <body>
        <header class="navbar-fixed">
            <nav class="light-blue lighten-1" role="navigation">
                <div class="navbar-wrapper container">
                    <a href="/" class="brand-logo">6 bai hoc ly luan chinh tri???????</a>
                    <a href="#" data-activates="mobile-nav" class="button-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li><a href="participate">Tham gia thi</a></li>
                        <li><a href="yourself">Kết quả thi của bạn</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-nav">
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li><a href="participate">Tham gia thi</a></li>
                        <li><a href="yourself">Kết quả thi của bạn</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block main %} {% endblock %}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                > mfw have to design this shit
                </div>
            </div>
        </footer>
        <script src="/static/libraries/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/libraries/materialize/dist/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
        {% block js %} {% endblock %}
    </body>
</html>
