{% set headers_not_logged_in = [
    ("index", _("Index"), "/"),
    ("rules", _("Rules"), "/rules"),
    ("participate", _("Participate"), "/participate"),
    ("authentication", _("Sign in or register"), "/auth")
] %}

{% set headers_logged_in = [
    ("index", _("Index"), "/"),
    ("rules", _("Rules"), "/rules"),
    ("participate", _("Participate"), "/participate"),
    ("yourself", _("My profile"), "/yourself"),
    ("logout", _("Sign out"), "/auth/logout")
] %}

{% macro render_navbar_content() %}
    {% if g.user is none %}
        {% for header in headers_not_logged_in %}
            <li class="{% if page_name == header[0] %} active {% endif %}"><a href="{{ header[2] }}">{{ header[1] }}</a></li>
        {% endfor %}
    {% else %}
        {% for header in headers_logged_in %}
            <li class="{% if page_name == header[0] %} active {% endif %}"><a href="{{ header[2] }}">{{ header[1] }}</a></li>
        {% endfor %}
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>{%if not config['IS_PRODUCTION']%}[DEVENV]{%endif%}{{ _("Online quiz") }} | {% block title %}{% endblock %}</title>

        <link rel="icon" type="image/png" href="/static/images/logo/logo_16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/static/images/logo/logo_32.png" sizes="32x32" />

        <link rel="stylesheet" href="/static/node_modules/materialize-css/dist/css/materialize.min.css">
        <link rel="stylesheet" href="/static/node_modules/material-design-icons/iconfont/material-icons.css">
        <style>
            .container {
                width: 87%;
            }

            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }

            .brand-title .subtitle {
                font-size: 13px;
                position: relative;
                top: -40px;
                font-weight: bold;
            }

            .brand-title .title {
                position: absolute;
                left: 70px;
                bottom: 12px;
                font-size: 2rem;
            }

            .btn-fullwidth {
                margin-top: 10px;
                width: 100%;
            }

            .navbar-fixed {
                height: 64px !important;
            }

            nav {
                height: 64px !important;
            }

            .weight-500 {
                font-weight: 500;
            }
        </style>
        {% block css %} {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="light-blue lighten-1" role="navigation">
                    <div class="nav-wrapper container">
                        <div class="brand-logo">
                            <img src="/static/images/logo/logo_60.png" />
                            <span class="brand-title">
                                <small class="subtitle">ĐOÀN TNCS HỒ CHÍ MINH QUẬN SƠN TRÀ</small>
                                <a href="/" class="title">
                                    {{ _("Online quiz") }}
                                </a>
                            </span>
                        </div>
                        <a href="#" data-activates="mobile-nav" class="button-collapse">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            {{ render_navbar_content() }}
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="side-nav" id="mobile-nav">
                {{ render_navbar_content() }}
            </ul>
        </header>
        <main class="container">
            {% block main %} {% endblock %}
        </main>
        {% block optional_sticky_footer %} {% endblock %}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l7 s12 white-text">
                        <h5 class="weight-500">{{ _("Online quiz Footer") }}</h5>
                        Thực hiện chương trình công tác Đoàn và phong trào thanh thiếu nhi quận Sơn Trà năm 2017,
                        Ban Thường vụ Quận Đoàn triển khai việc học và kiểm tra kiến thức 6 bài học lý luận chính trị
                        dành cho đoàn viên trên mạng Internet năm 2017.
                    </div>
                    <div class="col l4 offset-l1 s12 white-text">
                        <h5>{{ _("Links") }}</h5>
                        <ul class="browser-default">
                            <li><a class="grey-text text-lighten-3" href="http://www.thanhdoandanang.org.vn/">Thành đoàn Đà Nẵng</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://thpt-lequydon-danang.edu.vn/">Trường THPT Chuyên Lê Quý Đôn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Hồ Tuấn Kiệt. {{ _('Running <strong><a class="grey-text text-lighten-3" href="https://github.com/tuankiet65/tracnghiem">tuankiet65/tracnghiem</a></strong> '
                                              'revision <strong><a class="grey-text text-lighten-3" href="https://github.com/tuankiet65/tracnghiem/tree/%(rev)s">%(rev)s</a></strong>. '
                                              'Current timezone: <strong>%(timezone)s</strong>', rev = config["GIT_REVISION"], timezone = config["FRIENDLY_TIMEZONE"]) }}
                </div>
            </div>
        </footer>

        <script src="/static/node_modules/@sentry/browser/build/bundle.min.js" type="text/javascript" charset="utf-8"></script>
        <script>
            // initialize Sentry, try to initialize it really early
            Sentry.init({
                "dsn": '{{ config["SENTRY_FRONTEND_DSN"] }}'
            });
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u = "//analytics.tuankiet65.moe/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '5']);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript><p><img src="//analytics.tuankiet65.moe/piwik.php?idsite=5&rec=1" style="border:0;" alt="" /></p></noscript>

        <script src="/static/node_modules/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="/static/node_modules/jed/jed.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/translations/vi.js" type="text/javascript" charset="utf-8"></script>

        <script>
            // i18n stuff
            i18n = new Jed(i18n_vi_data);

            // CSRF stuff
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            $(function(){
                $(".button-collapse").sideNav();

                // Check if user is using Opera Mini in Extreme mode
                // (means that the content is being rendered on Opera servers)
                // If yes then we prompt the user to switch off Data Saver
                // or change Data Saver mode to High
                if (Object.prototype.toString.call(window.operamini) === "[object OperaMini]"){
                    $("body").prepend(i18n.translate("You are using Opera Mini in Extreme Data Saver mode. This webapp will not work as intended. Please consider disabling Data Saver or switching to High mode.").fetch())
                }
            });
        </script>
        {% block js %} {% endblock %}
    </body>
</html>

